html, body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-y: scroll;
}

#name {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(32px, 10vw, 150px);
}
